.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    background: var(--background);
    padding: 0 32px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
    position: relative;

    &__nav {
        display: flex;
        align-items: center;
        gap: 12px;
        color: var(--foreground);

        &Item {
            margin-right: 28px;
        }

        &Button {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background: var(--background);
            cursor: pointer;
            border: none;

            &:hover {
                background-color: var(--color-accent);
            }
        }
    }

}