@import url("tailwindcss");

:root {
  --background: #ffffff;
  --foreground: #0F0F11;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-google-sans);
  --color-accent: #cbcbcb;
}

[data-theme='dark'] {
  --background: #0F0F11;
  --foreground: #ffffff;
  --color-accent: #333333;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}